[baseos-rpms]
name=baseos-rpms
baseurl=http://localhost/{{repos[0]}}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[appstream-rpms]
name=appstream-rpms
baseurl=http://localhost/{{repos[1]}}
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
